body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav,
.header,
.footer {
    background-color: #1f2937;
}

.nav ul{
    display: flex;
    margin: 0 -10px;
}

.nav li{
    margin: 0 10px;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

#push-right {
    margin-left: auto;
}

#last-bullet {
    margin-right: 20px;
}

a,
#subtext,
.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: center;
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button {
    color: white;
    background-color: #3382f6;
    border-radius: 8px;
    padding: 3px 15px;
}

.header-container button {
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.banner button {
    border: 2px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-container {
    display: flex;
}

.info-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

#quote-sayer {
    align-self: flex-end;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3382f6;
    border-radius: 8px;
    flex: auto;
    max-width: 1500px;
    margin: 100px 150px;
    padding: 10px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}