body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav,
.header {
    background-color: #1f2937;
}

.nav ul{
    display: flex;
    margin: 0 -10px;
}

.nav li{
    margin: 0 10px;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

#push-right {
    margin-left: auto;
}

#last-bullet {
    margin-right: 20px;
}

a,
#subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: center;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}